/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** end reset css**/
body {
	max-width: 1440px;
	margin: auto;
	font-family: 'Work Sans';
	font-size: 14px;
	background-color: #fffef8;
}

header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}

section {
	margin: 50px 0
}

h1 {
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1>span {
	font-family: 'Work Sans';
	font-size: 10px;
	letter-spacing: 0.1em;
	;
}

h2 {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}

nav li {
	padding: 0 10px;
	font-size: 1.2em;
	cursor: pointer;
}

.bold {
	font-weight: 600;
}

li:hover {
	color: #B1663C;
}

.login_button {
	text-decoration: none;
	color: black;
}

.login_button:hover {
	color: #B1663C;
}

#introduction {
	display: flex;
	align-items: center;
}

#introduction figure {
	flex: 1
}

#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}

#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}

.categories_container {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-bottom: 51px;
	gap: 10px;


}

.projet_button {
	color: #1D6154;
	background-color: white;
	border: #1D6154 1px solid;
	border-radius: 60px;
	font-family: 'Syne';
	font-size: 16px;
	font-weight: 700;
	height: 45px;
	padding-right: 25px;
	padding-left: 25px;
	cursor: pointer;
}

.all {
	color: #1D6154;
	background-color: white;
	border: #1D6154 1px solid;
	border-radius: 60px;
	font-family: 'Syne';
	font-size: 16px;
	font-weight: 700;
	height: 45px;
	padding-right: 25px;
	padding-left: 25px;
	cursor: pointer;
}

.projet_button:active {
	background-color: #1D6154;
	color: white;
}

.all:active {
	background-color: #1D6154;
	color: white;
}

.gallery {

	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}

#contact {
	width: 50%;
	margin: auto;

}

.login {
	padding-top: 150px;
	padding-bottom: 355px;
}

#contact>* {
	text-align: center;

}

#contact h2 {
	margin-bottom: 20px;
}

#contact form {
	text-align: left;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label {
	margin: 2em 0 1em 0;
}

#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin: 2em auto;
	width: 180px;
	text-align: center;
	border-radius: 60px;
	cursor: pointer;
}


.oubli_container {
	display: flex;
	justify-content: center;
}

.oubli {

	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 16px;
	text-decoration-line: underline;
	color: #3D3D3D;
}

footer{
	background-color: white;
	height: 60px;
	display:flex ;
	justify-content: flex-end;
}
footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}








.edition_container {
	display: none !important;
	width: 100%;
	background-color: black;
	height: 59px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 15px;
}
.edition_modify{
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
}

.edition_icon {
	color: white;
	font-weight: 400;
	font-size: 16px;
}

.edition_text {
	color: white;
	font-family: 'work Sans';
	font-weight: 400;
	font-size: 14px;
}

.edition_button {
	border-radius: 60px;
	height: 38px;
	width: 216px;
	border: 0;
	font-family: 'work Sans';
	font-weight: 600;
	font-size: 14px;
}

/* modale */
.modale {

	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.3);
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.modale-wrapper {
	background-color: white;
	border-radius:10px ;
	width: 630px;
	height: 731px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 32px;
}
.close_modal{
	display: flex;
	align-self:flex-end;
	padding-right:35px ;
	font-size: 20px;
	cursor: pointer;
}
.modale_title{
	font-family: 'Work Sans' ;
	font-weight: 400;
	font-size: 26px;
	color: black;
}
.modal_img_container{
	display: flex;
	align-items: center;
	
	flex-wrap: wrap;
	gap: 9px;
	padding: 50px 100px 50px 100px;
}

.img_img_container{
	position: relative;
	width: 78px;
	height: 139px;
}

.modal_img{
	width: 78px;
	height: 104px;
}
.icon_container{
	position: absolute;
	right: 6px;
	top:6px;
}
.icon{
	background-color: black;
	color: white;
	border-radius: 2px;
	font-size: 15px;
	padding: 2px;
	
}
.delete{
	cursor: pointer;
}
.modal_bottom_container{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.line{
	
	background: black;
	width: 420px;
	height: 0;
	border: 1px #B3B3B3 solid;
}
.modal_button{
	border-radius: 60px;
	height: 36px;
	width: 237px;
	border: 0;
	font-family: 'Syne';
	font-weight: 700;
	font-size: 14px;
	background-color: #1D6154;
	color: white;
	margin-top: 38px;
}
.delete_gallery{
	font-family: 'Syne';
	font-weight: 400;
	font-size: 14px;
	text-align: center;
	color: #D65353;
	padding-top: 23px;
}
/* modale */
.projet_container {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 31px;
}

.padding_bottom {
	padding-bottom: 92px;
}

.modify {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	margin-bottom: 20px;
}

.modify_icon {
	color: black;
	font-weight: 400;
	font-size: 16px;
}

.modify_text {
	color: black;
	font-family: 'work Sans';
	font-weight: 500;
	font-size: 14px;
	text-decoration: none;
}


.intro_modify{
	display: none !important;
	align-items: center;
	justify-content: start;
	gap: 10px;
	margin: 15px 0 0 72px ;
}
.intro_icon{
	color: black;
	font-weight: 500;
	font-size: 16px;
}
.intro_text{
	color: black;
	font-family: 'work Sans';
	font-weight: 400;
	font-size: 14px;
	margin-bottom: 0 !important;
	text-decoration: none;
}


.display_on {
	display: flex !important;
}

.display_off {
	display: none !important;
}